.image-item {
	position: relative;
}

.image-item:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $color-black-35;
	content: '';
	z-index: 10;
}

.image-item > .image {
	display: block;
}